@model TwitterUserTimelineViewModel
@{
    ViewData["Title"] = @Model.User.Name;
}

@section Timeline{
    <div>
        @await Html.PartialAsync("_UserPartial", @Model.User)
    </div>
    <div id="timeline">
        @foreach (var tweet in @Model.Timeline)
        {
            <div class="tweet">
                @await Html.PartialAsync("_TweetPartial", @tweet)
                @if (@tweet.IsFavourite)
                {
                    <form class="ajax-call ajax-remove" asp-controller="Tweets" asp-action="RemoveTweetFromFavourites" asp-route-tweetid="@tweet.Id">
                        <button type="submit">Remove From Favourites</button>
                    </form>
                }
                else
                {
                    <form class="ajax-call" asp-controller="Tweets" asp-action="AddTweetToFavourites" asp-route-tweetid="@tweet.Id">
                        <button type="submit">Add To Favourites</button>
                    </form>
                }
            </div>
        }
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_Ajax")
}