@model FavouriteTweetsViewModel

@section Timeline {
    @if (@Model.Tweets.Count == 0)
    {
        <h3>You have no favourite Tweets</h3>
    }
    else
    {
        <h3>Your Favourites:</h3>

        <div class="user-favourites">
                @foreach (var tweet in @Model.Tweets)
                {
                    <div class="@tweet.Id">
                        @Html.Partial("_Tweet", tweet)
                        @if (@tweet.IsFavourite)
                        {
                            <form class="ajax-call ajax-remove" asp-controller="Tweets" asp-action="RemoveTweetFromFavourites" asp-route-tweetid="@tweet.Id">
                                <button type="submit">Remove From Favourites</button>
                            </form>
                        }
                        else
                        {
                            <form class="ajax-call" asp-controller="Tweets" asp-action="AddTweetToFavourites" asp-route-tweetid="@tweet.Id">
                                <button type="submit">Add To Favourites</button>
                            </form>
                        }
                    </div>
                }
        </div>
    }
}

@section Scripts {
    @await Html.PartialAsync("_Ajax")
}