@model TwitterUserViewModel

@{
    var imageUrl = $"{Model.ProfileImageUrl.Replace("_normal", "")}";
}

<div class="container">

    <div class="col-md-6">
        <a asp-controller="Users" asp-action="ShowUser" asp-route-screenname="@Model.ScreenName">
            <img class="img-circle" src=@imageUrl></img>
        </a>
    </div>

    <div class="col-md-6">
        <h3>@Model.Name</h3>
        <a asp-controller="Users" asp-action="ShowUser" asp-route-screenname="@Model.ScreenName">
            <h4>@@@Model.ScreenName</h4>
        </a>
        <div class ="text">@Model.Description</div>
    </div>

    <div id="buttons">
        @if (@Model.IsFavourite)
        {
            <form id="ajax-save" asp-controller="Users" asp-action="RemoveFromFavourites" asp-route-screenName="@Model.ScreenName" method="POST">
                <button class="btn btn-primary left btn-cst-add" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Already a Favourite</button>
            </form>
        }
        else
        {
            <form id="ajax-save" asp-controller="Users" asp-action="AddToFavourites" asp-route-screenName="@Model.ScreenName" method="POST">
                <button class="btn btn-primary left btn-cst-add" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Add to Favourites</button>
            </form>
        }
    </div>
</div>
