@using Microsoft.ApplicationInsights.AspNetCore
@model TweetViewModel

<blockquote class="twitter-tweet align-left">
    <div class="container">
        <img class="avatar" src="@Model.TwitterUserProfileImageUrl" />
        <div class="content col-sm-offset-1">
            <div class="name">@Model.TwitterUserName</div>
            <div class="screenName">
                <a asp-controller="Tweets" asp-action="ShowTwitterUserTimeline" asp-route-screenname="@Model.TwitterUserScreenName">@@@Model.TwitterUserScreenName</a>
            </div>
            <div class="text">
                <p>@Model.Text</p>
            </div>

            @if (@Model.IsFavourite)
    {
        <form id="@Model.Id" class="ajax-call hidden @Model.Id" asp-controller="Tweets" asp-action="AddTweetToFavourites" asp-route-tweetid="@Model.Id">
            <button class="btn btn-primary" type="submit">Add To Favourites</button>
        </form>
        <form id="@Model.Id" class="ajax-call active @Model.Id" asp-controller="Tweets" asp-action="RemoveTweetFromFavourites" asp-route-tweetid="@Model.Id">
            <button class="btn btn-danger" type="submit">Remove From Favourites</button>
        </form>
}
else
{
        <form id="@Model.Id" class="ajax-call active @Model.Id" asp-controller="Tweets" asp-action="AddTweetToFavourites" asp-route-tweetid="@Model.Id">
            <button class="btn btn-primary" type="submit">Add To Favourites</button>
        </form>
        <form id="@Model.Id" class="ajax-call hidden @Model.Id" asp-controller="Tweets" asp-action="RemoveTweetFromFavourites" asp-route-tweetid="@Model.Id">
            <button class="btn btn-danger" type="submit">Remove From Favourites</button>
        </form>
}

            
            <a asp-controller="Tweets" asp-action="Retweet" asp-route-tweetid="@Model.Id" class="btn btn-sm btn-default" id="retweet">Retweet</a>

        </div>
    </div>
</blockquote>


