@using RTWTR.MVC.Models
@model TwitterUserViewModel


<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-h-m text-center">
            <div class="m-b-md">
                <h2>@Model.Name</h2>
            </div>
            <img src="@Model.ProfileImageUrl" class="img-circle img-circle-profile circle-border m-b-md" alt="profile">

        </div>
        <div class="widget-text-box">
            <h4 class="media-heading m-xs">@Model.Name</h4>
            <a href="@Url.Action("ShowUser","Users", new{screenName =@Model.ScreenName})" class="m-xs">@@@Model.ScreenName</a>
            <p class="m-xs">@Model.Description</p>
            <div class="text-right">
                @if (@Model.IsFavourite)
                {
                    <!-- TODO: Make is so it shows Remove from favourites when hovered -->
                    <form asp-controller="Users" asp-action="RemoveFromFavourites" asp-route-screenName="@Model.ScreenName" method="POST">
                        <button id="save-twitter-btn" class="btn btn-primary left" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Already a Favourite</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Users" asp-action="AddToFavourites" asp-route-screenName="@Model.ScreenName" method="POST">
                        <button id="save-twitter-btn" class="btn btn-primary left" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" data-name="@Model.ScreenName">Add to Favourites</button>
                    </form>
                }

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#save-twitter-btn').on("click", function () {
        event.preventDefault();
        var $this = $(this);
        var frmValues = $this.serialize();
        var screenName = '@Model.ScreenName';
            debugger;
            $.ajax({
                type: 'POST',
                url: '/Users/AddToFavourites',
                data: {
                    screenName: screenName
                }
            });
    });


    $("#save-twitter-btn").on("submit", function (event) {
        var $this = $(this);
        debugger;
        var frmValues = $this.serialize();
        $.ajax({
                type: $this.attr('method'),
                url: $this.attr('action'),
                data: frmValues
            })
            .done(function () {
                $("#para").text("Serialized! Input String is " + frmValues);
            })
            .fail(function () {
                $("#para").text("An error occured");
            });
        event.preventDefault(); 
    });
</script>

